/////////// Visitors////////////

<%# <div class="row">
  <div class="col-md-4">
    <button type="button" class="toggle-btn btn btn-outline-success" data-toggle="toggle-visitors">visitors</button>
  </div>
  <div class="col-md-8">
    <div id="toggle-visitors" class="toggle" style="display:none;">
      <h4>Visitors</h4>
      <% city.visitors.forEach((visitor) => { %>
        <p><%= visitor.username %></p>
        <a href="/visitors/<%= visitor.id %>"><img src="<%= visitor.imageSRC %>" alt="<%= visitor.username %>">

        <% if(locals.isAuthenticated ) { %>
          <form method="POST" action="/cities/<%= city.id %>/visitors/<%= visitor.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button type="button" class="btn btn-outline-success">Delete</button>
          </form>
        <% } %>
      <% }) %>

      <% if(locals.isAuthenticated) { %>
        <section>
          <form method="POST" action="/cities/<%= city.id %>/visitors">
            <button type="button" class="btn btn-outline-success">wanna visit?</button>
          </form>
        </section>
      <% } %>
    </div>
  </div>
</div>%>
