<main>
  <div class="container">
    <% cities.forEach((city) => { %>
      <div>
        <a href="/cities/<%= city.id %>">
          <img src="<%= city.image %>" alt="<%= city.name %>">


            <%= city.name %><br>
            <%= city.location %><br>



          <p>
            <% while(city.stars--) { %> &star; <% } %>
          </p>
        </a>
      </div>
    <% }) %>

    <div id="map" data-cities="<%= JSON.stringify(cities) %>"></div>
  </div>
</main>
