<div class="city">

  <img src="<%= city.image %>" alt="<%= city.name %>">
  <h2><%= city.name %></h2>
  <h2><%= city.location %></h2>
  <p><% while(city.stars--) { %> &star; <% } %></p>

  <button type="button" class="toggle-btn btn btn-outline-success" data-toggle="toggle-info">info</button>
  <div id="toggle-info" class="toggle" style="display:none;">
    <h4>Comments</h4>
    <% city.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small><%= comment.createdBy.username %></small>
      <% if(locals.isAuthenticated && comment.ownedBy(user)) { %>
        <form method="POST" action="/cities/<%= city.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button type="button" class="btn btn-outline-success">Delete</button>
        </form>
      <% } %>
    <% }) %>

    <% if(locals.isAuthenticated) { %>
      <section>
        <h4>Leave a comment</h4>
        <form method="POST" action="/cities/<%= city.id %>/comments">
          <textarea name="content" id="content" placeholder="Comment"></textarea>
          <button type="button" class="btn btn-outline-success">Leave a comment</button>
        </form>
      </section>
    <% } %>
  </div>

  <button type="button" class="toggle-btn btn btn-outline-success" data-toggle="toggle-visitors">visitors</button>
  <div id="toggle-visitors" class="toggle" style="display:none;">
    <h4>Visitors</h4>
    <% city.visitors.forEach((visitor) => { %>
      <p><%= visitor.username %></p>
      <a href="/visitors/<%= visitor.id %>"><img src="<%= visitor.imageSRC %>" alt="<%= visitor.username %>">

      <% if(locals.isAuthenticated ) { %>
        <form method="POST" action="/cities/<%= city.id %>/visitors/<%= visitor.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button type="button" class="btn btn-outline-success">Delete</button>
        </form>
      <% } %>
    <% }) %>

    <% if(locals.isAuthenticated) { %>
      <section>
        <form method="POST" action="/cities/<%= city.id %>/visitors">
          <button type="button" class="btn btn-outline-success">wanna visit?</button>
        </form>
      </section>
    <% } %>
  </div>


  <div class="row">
      <% city.images.forEach((image) => { %>
        <div class="col-sm-4">
        <img class ="img-fluid" src="<%= image.src %>" alt="<%= image.caption %>">
        <p><%= image.caption %></p>
        </div>
      <% }) %>
  </div>



  <a href="/cities/<%= city.id %>/images/new">Add image</a>


  <form action="/cities/<%= city.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="button" class="btn btn-outline-success">Delete</button>
  </form>
</div>
