<div class="row justify-content-center">
  <img src="<%= user.imageSRC %>" alt="<%= user.username %>" class="rounded-circle mx-auto d-block p-image">
</div>

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
    <div class="card-block">
      <h2><%= user.username %> | <%= user.age %> | <%= user.location %></h2>
      <a href="/users/<%= user.id %>/edit">Edit |</a>
      <a href="/cities/new">Create new city |</a>
      <a href="/users/<%= user.id %>/images/new">Add image |</a>

      <form  action="/users/<%= user.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
            <button>Delete Account</button>
      </form>
    </div>
  </div>
  </div>
</div>

<div class="row justify-content-center pic-box">
  <div class="col-md-8">
    <div class="card">
      <div class="card-block">
        <div class="row">
          <% user.images.forEach((image) => { %>
            <div class="col-md-4">
              <img class ="img-fluid" src="<%= image.src %>" alt="<%= image.caption %>">
              <p class="img-caption"><%= image.caption %></p>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
