  <div class="container-fluid profile ">
    <div class="row">

      <img src="<%= user.imageSRC %>" alt="<%= user.username %>" class="rounded-circle mx-auto d-block">
    </div>
    <h1><%= user.username %></h1>
    <h2><%= user.age %></h2>
    <h3><%= user.location %></h3>


      <div class="atags">

        <a href="/users/<%= user.id %>/edit">Edit |</a>

        <a href="/cities/new">Create new city |</a>

        <a href="/users/<%= user.id %>/images/new">Add image |</a>


      </div>


      <div class="row">
            <% user.images.forEach((image) => { %>
          <div class="col-sm-4">
          <img class ="img-fluid" src="<%= image.src %>" alt="<%= image.caption %>">
          <p class="img-caption"><%= image.caption %></p>
          </div>
        <% }) %>
     </div>
     <form  action="/users/<%= user.id %>" method="POST">
               <input type="hidden" name="_method" value="DELETE"/>
               <button>Delete Account</button>
     </form>
      </div>
