<ul>
    <li>
      <h1> Welcome back, <%= user.username %>!</h1>
      <img src="<%= user.imageSRC %>" alt="<%= user.username %>">

      <h1><%= user.username %></h1>
    <button>Check out locations!</button>


<button><a href="/users/<%= user.id %>">profile</a></button>
    </li>
</ul>
