<ul>
    <li>
      <h1> Welcome back, <%= user.username %>!</h1>
      <img src="<%= user.imageSRC %>" alt="<%= user.username %>">

      <h1><%= user.username %></h1>
    <button>Check out locations!</button>


<button><a href="/users/<%= user.id %>">profile</a></button>
    </li>
</ul>
<div class =infobox >
  <button type="button" class="toggle-btn">Saved cities</button>
  <div class="toggle">
    <% cities.forEach((city) => { %>
      <a href="/cities/<%= city.id %>/"><%= city.name %></a>
    <% }) %>
  </div>
